contrib.m2:80 contrib.m2:443 {
    # redirect to HTTPS
    redir 301 {
        if {scheme} not https
        / https://{host}{uri}
    }
    proxy / http://entry {
        transparent
    }
    tls self_signed
}
