{$M2RUN_CADDY_HOST}:80 {$M2RUN_CADDY_HOST}:443 {
    # redirect to HTTPS
    redir 301 {
        if {scheme} not https
        / https://{host}{uri}
    }
    proxy / http://entry {
        transparent
    }
    tls self_signed
}
